* {
    font-family: monospace;
    font-size: 18px;

}
.clearfix {
    overflow: auto;
  }
body {
    max-width: 960px;
    margin: auto;
    /* background-color: black; */
    background-image: url(../../../images/nebula.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
h1 {
    font-size: 50px;
    margin-left: 10px;

}
header li, footer li{
    display: inline-block;
    padding: 10px;
    text-decoration: underline;
}
header {
    /* background-image: url(../../images/pink.png); */
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
    background-color: rgba(193, 100, 255, 0.2);
    width: 1200px !important;
    position: relative;
    right: 120px;
}
/* main { */
    /* background-color: lightgray; */
    /* background-image: url(../../images/nebula.png); */
    /* padding-bottom:100px; */
    /* margin-top: -10px; */
    /* padding: 300px; */
/* } */
section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    max-width: 45%;
    margin-left: 20px;
    background-color: rgba(193, 100, 255, 0.2);
    /* opacity: 0.2; */
    margin-top: 10px;
    /* float: left ; */
}

/* h2 {
    font-size: 30px;
    margin-left: 25px;
} */
button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: transparent;
    box-shadow: 2px 2px 2px black;
    border: hidden;
    margin-bottom: 5px;
}
/* footer { */
    /* background-color: white; */
    /* padding: 30px; */
    /* background-color: rgba(255, 255, 255,0.2); */
    /* border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    width: 1200px !important;
    position: relative;
    right: 120px; */
    /* color: white; */
/* } */
#quizResults {
    text-align: center;
    max-width: 15%;
    margin-left: 40%;
    margin-top: 10px;
    position: relative;
    left: 148px;
    bottom: 295px;
}
#musicGroup {
    float: right;
    margin-right: 228px;
}
h3 {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
}
#about {
    max-width: 600px;
    margin-top: 10px;
    margin-left: 150px;
}

/* main section{
    background-color:#ffffff;
    opacity: 0.3;
} */

#dbz {
    float: left;
    position: relative;
    right: 250px;
    bottom: 675px;

}
/* td img {
    width: 80%;
    
    border-radius: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;

    

} */
/* #pac {
    margin-bottom: 30px;
} */
/* table { */
    /* background-color: rgba(193, 100, 255, 0.2); */
    /* border-radius: 10px;
    vertical-align: top;
    position: relative;
    right: 96px; */
    /* border-radius: 20px; */
    /* box-shadow: 2px 2px 2px black; */
    
    
/* } */
/* #tableH3 {
    background-color: rgba(193, 100, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    
   
} */
/* td { */
    /* border: 2px solid black; */
    /* background-color: rgba(193, 100, 255, 0.2);
    box-shadow: 2px 2px 2px black;
    margin: 10px;
    display: inline-block; */
    
   
/* 
} */
/* td.empty {
    background-color: transparent !important;
    margin: 10px;
    box-shadow: none !important;
} */
/* #topLeft {
    border-radius: 10px 0px 0px 0px;

}
#topRight {
    border-radius: 0px 10px 0px 0px;
}
#midLeft {
    border-radius: 0px 0px 0px 10px;
}
#midRight {
    border-radius: 0px 0px 10px 0px;
}
#nip {
    border-radius: 0px 0px 10px 10px;
} */
footer {
    padding: 10px;

}

#projects {
    float: right;
    overflow: hidden;
    height: 600px;
    width: 525px;
    position: relative;
    left: 360px;
    bottom: 690px;
    background-color: rgba(193, 100, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    
}
#projects img {
    margin-bottom: 10px;
    margin-left: 12px;
}
#proHeader {
    background-color: rgba(193, 100, 255, 0.2);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    position: relative;
    left: 800px;
    bottom: 690px;
}
#projects:hover {
    overflow: scroll;
}