* {
    font-family: monospace;
    font-size: 18px;

}
.clearfix {
    overflow: auto;
  }
body {
    max-width: 960px;
    margin: auto;
    
    background-image: url(https://raw.githubusercontent.com/ArikMackenburg/lab02AboutMe/master/images/nebula.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
}
h1 {
    font-size: 50px;
    margin-left: 10px;

}
header li, footer li{
    display: inline-block;
    padding: 10px;
    text-decoration: underline;
}
header {
   
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
    background-color: rgba(193, 100, 255, 0.2);
    width: 1200px !important;
    position: relative;
    right: 120px;
}

section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    max-width: 45%;
    margin-left: 20px;
    background-color: rgba(193, 100, 255, 0.2);
    
    margin-top: 10px;
   
}

button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: transparent;
    box-shadow: 2px 2px 2px black;
    border: hidden;
    margin-bottom: 5px;
}

#quizResults {
    text-align: center;
    max-width: 15%;
    margin-left: 40%;
    margin-top: 10px;
    position: relative;
    left: 148px;
    bottom: 295px;
}
#musicGroup {
    float: right;
    margin-right: 228px;
}
h3 {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
}
#about {
    max-width: 600px;
    margin-top: 10px;
    margin-left: 150px;
}



#dbz {
    float: left;
    position: relative;
    right: 250px;
    bottom: 675px;

}

footer {
    padding: 10px;

}

#projects {
    float: right;
    overflow: hidden;
    height: 600px;
    width: 525px;
    position: relative;
    left: 360px;
    bottom: 690px;
    background-color: rgba(193, 100, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    
}
#projects img {
    margin-bottom: 10px;
    margin-left: 12px;
}
#proHeader {
    background-color: rgba(193, 100, 255, 0.2);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    position: relative;
    left: 800px;
    bottom: 690px;
}
#projects:hover {
    overflow: scroll;
}
#vid {
    margin-top: -650px;
    float: left;
    
}